@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: teal;
  --color-base-300: #f0fdf4;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: green;
  --color-secondary: teal;
  --color-base-300: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 85vh; */
  object-fit: cover;
}
a.active {
  @apply bg-primary text-white rounded-2xl;
}

a {
  @apply text-sm md:text-base;
}
